# Pandas String-Methoden

Pandas bietet eine Vielzahl von String-Methoden zur Manipulation und Analyse von Textdaten.
Diese Methoden sind nützlich, wenn man mit Spalten arbeitet, die Zeichenketten enthalten.

In diesem Notebook behandeln wir:
- Grundlagen der String-Methoden (`.str.lower()`, `.str.upper()`, `.str.contains()` usw.)
- `split()` mit `expand=True`
- Anwendung in einem praktischen Beispiel

## 1. Grundlagen der String-Methoden
Hier sind einige grundlegende Methoden zur Manipulation von Textdaten in Pandas.

In [1]:
import pandas as pd

# Erstellen eines DataFrames mit Textspalten
df = pd.DataFrame({
    'Name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown'],
    'Email': ['alice@example.com', 'bob.smith@example.com', 'charlie@example.net']
})

print("Originaler DataFrame:")
display(df)

# Anwendung von String-Methoden
df['Name_klein'] = df['Name'].str.lower()
df['Name_groß'] = df['Name'].str.upper()
df['Hat_Smith'] = df['Name'].str.contains('Smith')

print("DataFrame mit angewandten String-Methoden:")
display(df)

Originaler DataFrame:

            Name                  Email
0  Alice Johnson      alice@example.com
1      Bob Smith  bob.smith@example.com
2  Charlie Brown    charlie@example.net

DataFrame mit angewandten String-Methoden:

,Name,Email,Name_klein,Name_groß,Hat_Smith
0,Alice Johnson,alice@example.com,alice johnson,ALICE JOHNSON,False
1,Bob Smith,bob.smith@example.com,bob smith,BOB SMITH,True
2,Charlie Brown,charlie@example.net,charlie brown,CHARLIE BROWN,False

## 2. Anwendung von `split()` mit `expand=True`
Wir teilen eine Spalte in mehrere Spalten auf.

In [2]:
# Spalte 'Name' in Vor- und Nachname aufteilen
df[['Vorname', 'Nachname']] = df['Name'].str.split(' ', expand=True)

print("DataFrame nach Split:")
display(df)

DataFrame nach Split:

,Name,Email,Name_klein,Name_groß,Hat_Smith,Vorname,Nachname
0,Alice Johnson,alice@example.com,alice johnson,ALICE JOHNSON,False,Alice,Johnson
1,Bob Smith,bob.smith@example.com,bob smith,BOB SMITH,True,Bob,Smith
2,Charlie Brown,charlie@example.net,charlie brown,CHARLIE BROWN,False,Charlie,Brown

## Fazit
- Pandas bietet viele nützliche String-Methoden für Textverarbeitung.
- `split()` mit `expand=True` kann verwendet werden, um Spalten zu trennen.
- Diese Methoden sind hilfreich für die Datenbereinigung und Analyse.