# Pivot-Tabellen in Pandas - Eine umfassende Anleitung

In diesem Notebook lernen Sie die verschiedenen Möglichkeiten, **Pivot-Tabellen** mit Pandas zu erstellen und zu analysieren.

## 1. Was ist eine Pivot-Tabelle?

Eine Pivot-Tabelle ist eine Datenstruktur, die es ermöglicht, Daten **zusammenzufassen**, zu **aggregieren** und **neu anzuordnen**. Sie wird häufig zur Datenanalyse verwendet.

## 2. Beispiel-Datensatz erstellen

Wir erstellen zunächst einen einfachen Beispiel-Datensatz, um die Konzepte zu verdeutlichen.

In [2]:
import pandas as pd

# Beispiel-Daten
data = {
    'Kategorie': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'B', 'C', 'A'],
    'Produkt': ['X', 'Y', 'Z', 'X', 'Y', 'Z', 'X', 'Y', 'Z', 'X'],
    'Umsatz': [100, 150, 200, 130, 120, 180, 140, 170, 160, 190],
    'Datum': pd.date_range(start='2024-01-01', periods=10, freq='D')
}
df = pd.DataFrame(data)
print("Beispiel-Daten:")
df

Beispiel-Daten:

  Kategorie Produkt  Umsatz      Datum
0         A       X     100 2024-01-01
1         B       Y     150 2024-01-02
2         A       Z     200 2024-01-03
3         C       X     130 2024-01-04
4         B       Y     120 2024-01-05
5         C       Z     180 2024-01-06
6         A       X     140 2024-01-07
7         B       Y     170 2024-01-08
8         C       Z     160 2024-01-09
9         A       X     190 2024-01-10

## 3. Einfache Pivot-Tabelle erstellen

Verwenden Sie die Methode `pivot_table()` von Pandas, um eine einfache Pivot-Tabelle zu erstellen.

In [3]:
# Erstellen einer einfachen Pivot-Tabelle: Umsätze nach Kategorie und Produkt
pivot1 = df.pivot_table(values='Umsatz', index='Kategorie', columns='Produkt', aggfunc='sum', fill_value=0)
print("Einfache Pivot-Tabelle:")
print(pivot1)

Einfache Pivot-Tabelle:
Produkt      X    Y    Z
Kategorie
A          430    0  200
B            0  440    0
C          130    0  340

### Erklärung:
- **`values`**: Die Spalte, die zusammengefasst werden soll (z.B. Umsatz).
- **`index`**: Die Zeilenkategorien.
- **`columns`**: Die Spaltenkategorien.
- **`aggfunc`**: Die Aggregationsfunktion (z.B. `sum`, `mean`, `count`).
- **`fill_value`**: Setzt fehlende Werte auf einen bestimmten Wert (z.B. `0`).

## 4. Mehrere Aggregationsfunktionen verwenden

Sie können mehrere Aggregationsfunktionen gleichzeitig anwenden.

In [4]:
# Mehrere Aggregationsfunktionen: Summe und Mittelwert
pivot2 = df.pivot_table(values='Umsatz', index='Kategorie', columns='Produkt', aggfunc=['sum', 'mean'], fill_value=0)
print("Pivot-Tabelle mit mehreren Aggregationsfunktionen:")
print(pivot2)

Pivot-Tabelle mit mehreren Aggregationsfunktionen:
           sum                  mean
Produkt      X    Y    Z           X           Y      Z
Kategorie
A          430    0  200  143.333333    0.000000  200.0
B            0  440    0    0.000000  146.666667    0.0
C          130    0  340  130.000000    0.000000  170.0

## 5. Zeitbasierte Pivot-Tabellen

Pivot-Tabellen eignen sich hervorragend für zeitbasierte Daten.

In [5]:
# Umsätze nach Datum und Kategorie aggregieren
pivot3 = df.pivot_table(values='Umsatz', index=df['Datum'].dt.month, columns='Kategorie', aggfunc='sum', fill_value=0)
print("Zeitbasierte Pivot-Tabelle:")
print(pivot3)

Zeitbasierte Pivot-Tabelle:
Kategorie    A    B    C
Datum
1          630  440  470

## 6. Pivot-Tabelle mit mehreren Indexen

Sie können mehrere Spalten für den Index oder die Spalten verwenden.

In [6]:
# Mehrere Indexe und Spalten
pivot4 = df.pivot_table(values='Umsatz', index=['Kategorie', 'Produkt'], columns=df['Datum'].dt.day, aggfunc='sum', fill_value=0)
print("Pivot-Tabelle mit mehreren Indexen und Spalten:")
print(pivot4)

Pivot-Tabelle mit mehreren Indexen und Spalten:
Datum               1    2    3    4    5    6    7    8    9    10
Kategorie Produkt
A         X        100    0    0    0    0    0  140    0    0  190
          Z          0    0  200    0    0    0    0    0    0    0
B         Y          0  150    0    0  120    0    0  170    0    0
C         X          0    0    0  130    0    0    0    0    0    0
          Z          0    0    0    0    0  180    0    0  160    0

## 7. Filtern und Sortieren von Pivot-Tabellen

Nach dem Erstellen können Sie Pivot-Tabellen wie einen normalen DataFrame filtern und sortieren.

In [9]:
# Filtern: Nur Kategorien mit Umsatz > 150 anzeigen
filtered = pivot1[pivot1.sum(axis=1) > 150]
print("Gefilterte Pivot-Tabelle:")
print(filtered), type(filtered)

Gefilterte Pivot-Tabelle:
Produkt      X    Y    Z
Kategorie
A          430    0  200
B            0  440    0
C          130    0  340

(None, pandas.core.frame.DataFrame)

## 8. Pivot-Tabelle zurück in einen DataFrame umwandeln

Sie können eine Pivot-Tabelle zurück in einen flachen DataFrame konvertieren.

In [ ]:
# Reset der Pivot-Tabelle in ein flaches Format
flattened = pivot1.reset_index()
print("Flache Pivot-Tabelle:")
print(flattened)

## 9. Zusammenfassung

In diesem Notebook haben wir Folgendes gelernt:
1. **Pivot-Tabellen erstellen** mit der `pivot_table()`-Methode.
2. Verwendung von **mehreren Aggregationsfunktionen**.
3. Pivot-Tabellen für **zeitbasierte Analysen**.
4. Arbeiten mit **mehreren Indexen und Spalten**.
5. Filtern und Sortieren von Pivot-Tabellen.
6. Zurückkonvertieren einer Pivot-Tabelle in einen flachen DataFrame.