# CSV-Dateien schreiben
Wie wir gesehen haben, lassen sich mit Pandas sehr einfach CSV-Dateien einlesen. Genauso einfach lassen sich Dataframes als CSV-Dateien speichern.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("heights.csv")
df_new = df.iloc[:20]
df_new

   Gender     Height      Weight
0    Male  73.847017  241.893563
1    Male  68.781904  162.310473
2    Male  74.110105  212.740856
3    Male  71.730978  220.042470
4    Male  69.881796  206.349801
5    Male  67.253016  152.212156
6    Male  68.785081  183.927889
7    Male  68.348516  167.971110
8    Male  67.018950  175.929440
9    Male  63.456494  156.399676
10   Male  71.195382  186.604926
11   Male  71.640805  213.741169
12   Male  64.766329  167.127461
13   Male  69.283070  189.446181
14   Male  69.243732  186.434168
15   Male  67.645620  172.186930
16   Male  72.418317  196.028506
17   Male  63.974326  172.883470
18   Male  69.640060  185.983958
19   Male  67.936005  182.426648

### CSV schreiben
mit der Methode `to_csv()` und der Pfadangabe, wo die neue Datei gespeichert werden soll, lässt sich eine CSV-Datei erstellen.

In [3]:
df_new.to_csv("data/testframe.csv")

### Seperator definieren
Der Default-Seperator bei `to_csv` ist natürlich das Komma. Wir können aber mit `sep` auch explizit angeben, welchen Seperator wir benötigen. Im Beispiel verwenden wir für den Dezimaltrenner das Komma, wie das im Deutschen üblich ist.

In [7]:
df_new.to_csv("data/testframe_semikolon.csv", sep=";", decimal=",")

### Header neu definieren
Per default sind die Header der Datei die Spaltennamen. Wir können das aber mit `header` überschreiben. Die alten Spaltennamen werden dann nicht mehr berücksichtigt.

In [9]:
df_new.to_csv("data/testframe_header.csv", header=["Geschlecht", "Größe", "Gewicht"])

### Index nicht speichern
Wenn wir verhindern wollen, dass der Index mitgespeichert wird, da der letzendlich in den CSV-Dateien gar nicht benötigt wird, können wir das Keyword-Argument `index` auf False setzen.

In [4]:
df_new.to_csv("data/testframe2.csv", index=False)

## Zip-Archiv mit CSV-Datei erstellen

In [11]:
compression_opts = dict(method='zip', archive_name='out.csv') 
df_new.to_csv('out.zip', index=False, compression=compression_opts)

## Excel-Datei erstellen
mit `to_excel` lässt sich auch gleich eine Excel-Datei erstellen. für diese Funktion muss `openpyxl` installiert werden.

    pip install openpyxl

In [18]:
df_new.to_excel("data/testframe.xlsx", index=False, header=["Geschlecht", "Größe", "Gewicht"])